<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.zetapp.zet"
      android:versionCode="1"
      android:versionName="1.0">
       <supports-screens 
	    android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:resizeable="true" 
	    android:anyDensity="true" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".GennieApp" android:debuggable="true">
        <activity android:name=".initapp"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".AudioPlayer"/>
		<activity android:name=".ahmadplayernav" android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>
		<service android:name=".audioservice"/>
		<receiver android:name=".stopplayerreceiver"/>
		<receiver android:name=".nextplayerreceiver"/>
    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 